/* Sidebar inicialmente abierto */
.container-sidebar {
  position: relative;
  width: 200px; /* Ancho del sidebar abierto */
  height: 100vh;
  grid-area: aside;
  background: transparent;
  border-top-right-radius: 24px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #fff;
  backdrop-filter: blur(100px);
  overflow: hidden;
  transition: width 0.3s ease-in-out; /* Transición suave */
}

/* Sidebar cerrado */
.container-sidebar.closed {
  width: 60px; /* Ancho del sidebar cerrado */
}

.bottom1 {
  position: absolute;
  top: 20px;
  left: 10px; /* Mantener el botón fijo */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 80px 16px 0 16px; /* Ajustar espacio del contenido del menú */
}

.container-lista {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.menu--lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu--lista .item {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
}

.menu--lista .item:hover {
  
  background: rgba(255, 255, 255, 0.1); 
  border-color: white;
  /* Fondo al pasar el mouse */
}
